<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatsAppSpammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WhatsAppSpammer.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://eu46.chat-api.com/instance70930</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>ec7ua2ymrt7qgf7u</value>
            </setting>
            <setting name="PathToDirectory" serializeAs="String">
                <value>C:\Users\User\source\repos\WhatsAppSpammer\WhatsAppSpammer\bin\Debug\phoneNumbers</value>
            </setting>
        </WhatsAppSpammer.Properties.Settings>
    </userSettings>
</configuration>